[Desktop Entry]
Name=Obsidian
Comment=Knowledge management and note-taking
Exec=env OBSIDIAN_USE_WAYLAND=1 /usr/bin/obsidian --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --ozone-platform-hint=auto %U
Icon=obsidian
Type=Application
Terminal=false
Categories=Utility;TextEditor;Productivity;
MimeType=text/markdown;inode/directory;
StartupWMClass=obsidian
